<div class="intro">
  <div class="container">
    <div class="slider">
      <img src="assets/images/slider_1.svg" class="active">
      <img src="assets/images/slider_2.svg">
      <img src="assets/images/slider_3.svg">
    </div>
    <div class="content">
      <h1 class="welcome">مرحبا بك في لقطات</h1>
      <h3 class="description">معرض الأعمال البصرية الإبداعية</h3>
      <div class="buttons">
        <button class="explore-btn">
          <a href="explore.php">
            تصفح آخر الإبداعات
          </a>
        </button>
        <button class="login-btn">
          <a href="login.php">
            تسجيل الدخول
          </a>
        </button>
      </div>
    </div>
  </div>
</div>